.about{
    color: #fff;
    position: relative;
    margin-bottom: 150px;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        display: inline-block;
        width: 555px;
        height: 630px;
        background-image: url(../img/city.png);
        background-repeat: no-repeat;
        @media(max-width:$tablet){
            top: 100px;
            width: 50%;
            background-size: contain;
        }
        @media (max-width: $mobile){
            top: 125px;
            width: 90%;
            max-width: 350px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__content{
        margin-left: 630px;
        // padding-top: 100px;
        @media(max-width:$tablet){
            margin-left: 55%;
        }
        @media (max-width: $mobile){
            margin-left: 0;
            width: 100%;
            margin-top: 450px;
        }
    }
    &__paragraph{
        width: 340px;
        margin-bottom: 30px;
    }
    &__paragraph-title{
        color: #0b9fe4;
        font-size: 32px;
        font-weight: 400;
    }
    &__paragraph-text{
        color: #8bacc4;
        font-size: 14px;
        line-height: 20px;
    }
    &__bold-text{
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
    }
    &__button{
        @media (max-width: $mobile){
            display: block;
            margin: 0 auto;
        }
    }
}