body{
    background-color: #051b2b;
    font-family: 'SFPro';
    font-weight: 400;
    background-size: contain;
    .circles{
       background-image: url(../img/circles.png);
       background-repeat: no-repeat;
       background-position: center 580px;
    }
}