.news-and-events{
    margin-bottom: 150px;
    @media(max-width: $mobile){
        margin-bottom: 100px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 50px;
        @media(max-width: $mobile){
            padding: 0px;
        }
    }
    &__item{
        @media(max-width: $mobile){
            width: 100%;
            padding: 50px 30px;
            margin-bottom: 30px;
        }
        &--active{
            background-color: #0a8ac6;
            color: #fff;
            .news-and-events__item-title{
                color: #fff;
            }
            .news-and-events__item-text{
                color: #fff;
            }
            .news-and-events__item-date{
                color: #fff;
            }
        }
    }
    &__item-title{
        color: #0a90cf;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }
    &__item-text{
        color: #8bacc4;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 40px;
    }
    &__item-date-and-more{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__item-date{
        opacity: 0.45;
        color: #366384;
        font-size: 14px;
        font-weight: 400;
    }
    &__item-more{
        opacity: 0.45;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}