.paragraph{
    width: 340px;
    margin-bottom: 30px;
    @media (max-width: $mobile){
        width: 100%;
    }
    &__title{
        color: #0b9fe4;
        font-size: 32px;
        font-weight: 400;
        &--author{
            font-size: 14px;
            &::before{
                content: '';
                display: inline-block;
                width: 70px;
                height: 16px;
                background-image: url(../img/quote.png);
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
    &__text{
        color: #8bacc4;
        font-size: 14px;
        line-height: 20px;
    }
    &__bold-text{
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
    }
}