.promo-block{
    padding: 210px 0px;
    color: #fff;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: 0;
        top: 25px;
        width: 500px;
        height: 800px;
        background-image: url(../img/promo-phone.png);
    }
    &__content-block{
        width: 500px;
    }
    &__title{
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 10px;
    }
    &__text{
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 20px;

    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}